.loading {


  display: block;
  margin-left: 36%;
 margin-top: 10px;
 position: fixed;
}
.center{



}
body {
 background-color: #0e293a;
}

#i1{
  	-webkit-animation: rotation 20s infinite linear;
}

#i2{

-webkit-animation: rotation2 18s infinite linear;
}
#i3{

-webkit-animation: rotation 26s infinite linear;
}
#i4{
  	-webkit-animation: rotation2 25s infinite linear;
}

#i5{

-webkit-animation: rotation 24s infinite linear;
}
#i6{
  	-webkit-animation: rotation2 23s infinite linear;
}

#i7{
  	-webkit-animation: rotation2 22s infinite linear;
}

#i8{

-webkit-animation: rotation2 25s infinite linear;
}
#i9{
  	-webkit-animation: rotation 21s infinite linear;
}

#i0{
  	-webkit-animation: rotation2 20s infinite linear;
}
#c1{
  -webkit-animation: linee 1s infinite repeat;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    display: block;
    margin-left: 43%;
   margin-top: 80px;
   position: fixed;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-webkit-keyframes rotation2 {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes linee {
  from{
    margin-top:80px
  }
  to{
    margin-top: 90px;
  }
}
#bckimg{
  position: absolute;
  width: 100%;
  height: auto;

}
