{% extends 'blog/base.html'%}
{% block content%}
<div clas="container">
<div class="row">
	<div class="col-md-4">
	</div>
            <div class="col-md-4 " style="margin-top: 45px">
                <div class="card card-price">
                    <div class="content">
                        <h3 class="brand-name" style="text-align: center;">Creative Blogs</h3>
                        <h6 class="category" style="margin-top: 30px;">Login</h6>

       
                        <form id="sign_in" method="POST" style="margin-top: 50px;">
                    {% csrf_token %}
                    {% if error %}
                    <div class='alert alert-danger'>{{error}}</div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 8px;">
                        <span class="input-group-addon">
                            <i class="fa fa-unlock"></i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="footer">
                           <button type="submit" class="btn btn-primary btn-fill btn-block" style="margin-top: 12px;">Log In</button>
                        </div>
                    </form>
                       
                        </div>
                      
                    </div> <!-- end card -->
                </div>
                <div class="col-md-5">
    	         </div>
            </div>
 </div>
{% endblock content%}