{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Deadly.com</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog2.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="index.html">
				<img src="{% static 'images/skulllogo.png' %}" height="50" width="50">
  <a class="navbar-brand" href="#">Jehri</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
		<a class
  </div>
</nav>

<div class="hero-header-item hero-logo" aria-hidden="true">
        <div class="hero-logo-circles">


					<img id="c1" class="vert-move" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-octonaut-aa46769a0faab2d9401eacaac4d1528e.svg" alt="Index octonaut">
          <img id="i1" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-red-semi-206422653d447e981744a5f5865e8225.svg" alt="Index portal red semi">
          <img id="i2" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-red-9bff954009d893312ac619e31af14ae1.svg" alt="Index portal red">
          <img id="i3" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-orange-semi-c671a2be2b56754be0c2fdf64244b1bb.svg" alt="Index portal orange semi">
          <img id="i4" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-orange-4ba73231728c110e0fe16aba5194e92b.svg" alt="Index portal orange">
          <img id="i5" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-yellow-semi-93c8853cbd3ebf297aead4efaf5a6ca3.svg" alt="Index portal yellow semi">
          <img id="i6" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-yellow-1a0199e2dd6d8df832c4bbbda2b0392b.svg" alt="Index portal yellow">
          <img id="i7" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-green-semi-dbb1db021647238b23d575ba492441e6.svg" alt="Index portal green semi">
          <img id="i8" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-green-2c971eb899d32fa7bdb26fac8b1bedd7.svg" alt="Index portal green">
          <img id="i9" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-blue-semi-c37d271ed0200999eed96db9a3d9ebef.svg" alt="Index portal blue semi">
          <img id="i0" class="loading" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-blue-c2e705932469b61cbb9ceb0b6b778e35.svg" alt="Index portal blue">
        </div>
      </div>
			<div class="row">
       <div class=""
			</div>



</body>
</html>
