{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding-right:82px; margin-top:20px;">
  {% for post in posts %}
      <div class="card" style="margin-bottom:24px;">
             <div class="image">
                {% if post.cover %}
                  <img src="{{post.cover.url}}" alt="..."/>
                {% else %}
                  <img src="/static/images/default_post.jpg" alt="..."/>
                {% endif %}
                 <div class="filter filter-white">
                     <button type="button" class="btn btn-default btn-simple"
                     onclick="window.location.href='/blog/{{post.pk}}';"
                     >
                         <i class="fa fa-image"></i> Preview
                     </button>
                     {% if request.user.is_authenticated and post.author == request.user %}
                        <button type="button" class="btn btn-default btn-simple"
                     onclick="window.location.href='/manage/edit/{{post.pk}}';"
                     >
                         <i class="fa fa-edit"></i> Edit
                     </button>

                     <button type="button" class="btn btn-default btn-simple"
                     onclick="window.location.href='/manage/delete/{{post.pk}}';"
                     >
                         <i class="fa fa-trash"></i> Delete
                     </button>
                     {%endif%}
                 </div>
             </div>
             <div class="content">
                 <a href="/blog/{{post.id}}">
                     <h4 class="title">{{post.title}}</h4>
                 </a>
                 <a href="/blog/{{post.pk}}">
                     <p class="description">
                        {{post.description}}
                     </p>
                 </a>
                  <div class="footer">
                     <div class="author">
                         <a class="card-link" href="#">
                              <span> {{post.author}}</span>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
  {% endfor %}


</div>
{% endblock content %}
